@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.landing-navbar {
  background: transparent !important ;
  font-size: 20px;
}

.landing-navbar.active {
  background: #353839 !important;
  transition: 0.5s ease-in;
}

a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.content {
  background: #0079ba;
}

.texts {
  color: white;
}

.head-hr {
  border-top: 2px solid black;
}

.drop {
  filter: drop-shadow(0 0 0.75rem #c9e9f6);
}

.carousel-box {
  background: #f7f8f2;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  color: #353839;
  font-family: 'Montserrat', sans-serif;
}

.brand-logo {
  filter: drop-shadow(0 0 0.75rem #c9e9f6);
}

.footer {
  background: #353839;
}

.skewed-div {
  /* position: absolute; */
  left: 50%;
  /* transform: translate(-50%, -50%); */
  height: 9vw;
  background-color: #abadac;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}

.talent-skew {
  width: calc(50% - 50px);
  height: 100%;
  background-color: #abadac;
}

.brands-skew {
  width: calc(50% + 50px);
  height: 100%;
  background-color: #f24741;
  border-left: 100px solid #abadac;
  border-bottom: 9vw solid transparent;
}

.text-links {
  font-size: 6vw;
  color: white;
}

.text-links:hover {
  text-decoration: none;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}

.x {
  color: #f24741;
}

.about-box {
  color: #353839;
  font-family: 'Montserrat', sans-serif;
}
