@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

.landing-navbar {
  background: transparent !important ;
  font-size: 20px;
}

.landing-navbar.active {
  background: #5f3962 !important;
  transition: 0.5s ease-in;
}

a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.content {
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    #89253e,
    #3a6186
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    #89253e,
    #3a6186
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.texts {
  color: white;
}

.head-hr {
  border-top: 2px solid white ;
}

.drop {
  filter: drop-shadow(0 0 0.75rem #af6cae);
}

.carousel-box {
  background: rgba(229, 233, 31, 0.925);
  border-radius: 15px;
  box-shadow: 2px 2px 10px #af6cae;
}