@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.landing-navbar {
  background: transparent !important ;
  font-size: 20px;
}

.landing-navbar.active {
  background: #353839 !important;
  transition: 0.5s ease-in;
}

a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.content {
  background: #0079ba;
}

.texts {
  color: white;
}

.head-hr {
  border-top: 2px solid white ;
}

.drop {
  filter: drop-shadow(0 0 0.75rem #c9e9f6);
}

.carousel-box {
  background: white;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #c9e9f6;
}

.brand-logo {
  filter: drop-shadow(0 0 0.75rem #c9e9f6);
}

.footer {
  background: #353839;
}